<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
                Herbicide Tracker
            </h1>
            <div>
                <button id="create" type="button" class="btn btn-primary btn-lg active">
                    Create Project
                </button>
            </div>
            <div>
                <button id="view" type="button" class="btn btn-outline-primary active btn-lg">
                    View Projects
                </button>
            </div>
            <div>
                <h3 class="text-center">
                    Whatver alerts we want to have/ probably <br>weather since you will need it for windspeed
                </h3>
            </div>
            <div id="alerts"></div>
        </div>
    </div>
</div>