<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
                Herbicide Tracker
            </h1>
            <h3>Support Central</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                Administrators
            </h3>
            <p class="text-left">
                <a href="www.github.com/andypedonti" target="_blank" Andy Pedonti></a>
                <a href="www.github.com/Aecntrik17" target="_blank" Aaron D. Sims></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <button type="button" class="btn btn-primary btn-lg active">
                Home
            </button>
            <button type="button" class="btn btn-primary btn-lg active">
                New Project
            </button>
            <button type="button" class="btn btn-primary btn-lg active">
                View Projects
            </button>
        </div>
    </div>
</div>